.game-card {
  --background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
  width: 100%; /* Adjust width to take full available space */
  max-width: 300px; /* Set a maximum width for larger screens */
  height: auto; /* Allow height to adjust based on content */
  padding: 10px;
  border-radius: 1rem;
  overflow: visible;
  background: #74ebd5;
  background: var(--background);
  position: relative;
  z-index: 1;
  margin-bottom: 20px; /* Add margin for spacing */
}
  
.games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax value for mobile */
  gap: 10px; /* Reduce gap for mobile */
  row-gap: 20px;
  padding: 10px;
  justify-items: center;
}

.game-card::before,
.game-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
  }
  
.game-card::before {
    background: linear-gradient(to bottom right, #26355D 0%, #fda085 100%);
    transform: rotate(2deg);
  }
  
.game-card::after {
    background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
    transform: rotate(-2deg);
  }

.game-card:hover::before,
.game-card:hover::after {
    opacity: 0;
  }
  
.game-card:hover .card-info {
    color: #74ebd5;
    transition: color 1s;
  } 
  
.game-card.bounce {
    transform: translateY(-5px); /* Move the card up slightly */
  }  
  
.game-title {
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
.game-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
.play-button {
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    display: block; 
    margin: 0 auto; 
    font-size: inherit;
    position: relative;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
   }

   
.play-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
.play-button:hover span {
    color: black;
   }
   
.play-button::before,
.play-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
.play-button::before {
    content: "";
    background: #000;
    colour: #fff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
.play-button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
  
.game-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 10px;
  }

  @media (max-width: 768px) { /* Media query for mobile devices */
    .game-card {
      max-width: 90%; /* Make cards take up most of the screen width */
    }

    .games-container {
      grid-template-columns: 1fr; /* Single column layout for mobile */
    }
  }